body {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;    
    background-image: url(/res/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
}


a {
    font-weight: bold;
    color: black;
}

a:hover {
    color: #c00;
}

p {
    margin-bottom: 4px;
    margin-top: 4px;
}

.mask {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fffe;
}

@media screen and (max-height: 562.6px) {
    body {
        height: auto;
    }
    .mask {
        height: auto;
    }
}

.content {
    margin: auto;
    width: 1000px;
    height: 562.6px;

    background-image: url(/res/name.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fffe;
    box-shadow: 0 0 0.2vw 0.2vw #0006;
    mix-blend-mode: normal;
}
@supports (backdrop-filter: blur(8px)) {
    .content {
        background-color: unset;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

.mobile_header {
    display: none;
}

.text {
    /* font-size: 1.2vw; */
    font-size: 16px;
    height: 0px;
    width: 0px;
    position: relative;
}

.title {
    /* font-size: 2vw; */
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 1.5vw; */
    margin-bottom: 18px;
}

#occupation {
    top: 15%;
    left: 48%;
    font-size: 42px;
    color: #0007;
}

#works {
    left: 76%;
    width: 22%;
}

#misc {
    /* margin-top: 8vw; */
    margin-top: 100px;
}

#friends {
    left: 76%;
    top: 85%;
    width: 22%;
}

#about {
    top: 70%;
    left: 5%;
    width: 30%;
}

#links {
    width: 50%;
    top: 68%;
    transform-origin: top left;
    transform: rotate(-52.5deg);
}

@media screen and (max-width: 1000px) {
    body {
        display: inline;
    }

    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mobile_header {
        display:block;
        margin: auto;
        margin-top: 30px;
        width: 80%;
        font-family: 'Poiret One', sans-serif;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        line-height: 200%;
        border-width: 3px;
        border-style: solid;
        border-color: black;
    }


    .content {
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 90%;
        height: auto; 
        background-image: none;
    }

    #occupation {
        display: none;
    }

    .text {
        font-size: 20px;
        height: auto;
        position: static;
        margin-bottom: 30px;
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #works {
        left: 0;
        width: 100%;
    }

    #misc {
        margin-top: 0px;
    }

    #friends {
        left: 0%;
        top: 0%;
        width: 100%;
    }

    #about {
        top: 0%;
        left: 0%;
        width: 100%;
    }

    #links {
        top: 0%;
        transform: none;
    }
} 
