body{
    margin: auto;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    background-color: #fafafa;
    min-width: 280px;
}

a {
    color: #c00;
    text-decoration: none;
}

a:hover {
    color: #a22;
}

::-webkit-scrollbar{
    width: 3px;
    height: 3px;
    background-color: #fff;
}

::-webkit-scrollbar-corner{
    background-color: #ddd;
}

::-webkit-scrollbar-thumb{
    background-color: #c00;
}
 
@keyframes light
{
    from {opacity:0.2;}
    to {opacity:1;}
}
 
/*Safari 和 Chrome:*/
@-webkit-keyframes light
{
    from {opacity:0.2;}
    to {opacity:1;}
}
 
.page_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.pages {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

#page1 {
    background-image: url("/res/circuit.png");
    background-repeat: repeat;
}

#page2 {
    background-image: url("/res/jigsaw.png");
    background-repeat: repeat;
}

#page3 {
    background-image: url("/res/temple.png");
    background-repeat: repeat;
}

.page_title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.page_contents {
    max-width: 18cm;
    margin-left: 5%;
    margin-right: 5%;
}

.down_arrow{
    position: relative;

    color: #c00;

    transition-duration: 0.5s;

    animation: light 1.5s linear infinite alternate;

    cursor: pointer;
}


#header {
    display: grid;
    position: relative;
    width: 30%;
    height: 10%;

    top: 75%;
    left: 55%;
    text-align: right;
}

#name,#family {
    font-size: 100px;
    font-family: 'Poiret One', sans-serif;
    line-height: 80%;
}

#name {
    grid-row: 2;
    grid-column: 1;
}

#name_first {
    color: #c00;
}

#family {
    grid-row: 2;
    grid-column: 2;
}

#family_first{
    color: #c00;
}


#occupation {
    grid-row: 1;
    grid-column: 2;
    font-size: 24px;
    padding-right: 5px;
    line-height: 0px;
    color: #999;
}

#page1_arrow {
    top: 82%;
    left: 70%;
}

#page1_arrow_icon {
    font-size: 50px;
}

#misc {
    margin-top: 60px;
}

#page2_arrow {
    top: 70%;
    left: 5%;
}

#page2_arrow_icon {
    font-size: 40px;
    margin-left: -10px;
}


#toys {
    display: none;
    position: absolute;
    top: 5%;
    right: 2%;
    width: 40%;
    height: 90%;
    border-top: 2px solid #c00;
    border-top-style: dashed;
    border-bottom: 2px solid #c00;
    border-bottom-style: dashed;

    background-color: #f0f0f0;
    background-image: url("/res/texture.png");
}

#toys_area {
    width: 100%;
    height: 100%;
    border: none;
}

#toys_tray {
    display: inline;
    vertical-align: middle;
}

.icons {
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    color: #c00;
}

.apps {
    display: none;
}

.icons:hover {
    color: #c77;
}

@media screen and (max-width: 950px) {
    .pages {
        height: auto;
    }
    .down_arrow {
        display: none;
    }

    #header {
        width: 200px;
        height: 60px;
        margin: auto;
        margin-bottom: 40px;
        top: 20px;
        left: 0px;
    }

    #name {
        grid-row: 1;
        grid-column: 1;
        font-size: 42px;
        line-height: 100%;
    }

    #family {
        grid-row: 1;
        grid-column: 2;
        font-size: 42px;
        line-height: 100%;
    }

    #occupation {
        grid-row: 2;
        grid-column: 2;
        line-height: 100%;
        text-align: left;
        font-size: 16px;
        padding-left: 2px;
    }

    #works {
        width: auto;
    }

    #misc {
        margin-top: auto;
    }

    #toys_tray {
        display: none;
    }

    .page_container {
        height: auto;
    }

    #page1 {
        position: fixed;
        border-bottom: 1px solid #c00;
        background-color: #fafafa;
        z-index: 200;
    }

    #page2 {
        margin-top: 100px;
    }

    #page2,#page3,#page4 {
        background-image: none;
    }


}